:root {
  --back-color-1: #fff;
  --back-color-2: #0b1517;
  --back-color-3: #f6f6f6 !important;
  --color-1: #fff;
  --color-2: rgb(176, 176, 176);
  --color-font-1: #000;
  --color-font-2: rgb(96, 96, 96);
  --main-color-1: #ff625e;
  --main-color-2: #66a7d2;
  --transition: linear .3s;
  --fn-size-40px: 40px;
  --fn-size-35px: 35px;
  --fn-size-33px: 33px;
  --fn-size-30px: 30px;
  --fn-size-28px: 28px;
  --fn-size-25px: 25px;
  --fn-size-22px: 22px;
  --fn-size-20px: 20px;
  --fn-size-18px: 18px;
  --fn-size-17px: 17px;
  --fn-size-16px: 16px;
  --fn-size-14px: 14px;
  --padding-top: 80px;
  --padding-bottom: 80px;
}

* {
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}