:root {
  --back-color-1: #fff;
  --back-color-2: #222222;
  --back-color-3: #eee !important;
  --color-1: #fff;
  --color-2: rgb(176, 176, 176);
  --color-font-1: #000;
  --color-font-2: rgb(96, 96, 96);
  --main-color-1: #ff625e;
  --main-color-2: #66a7d2;
  --transition: linear .3s;
  --fn-size-40px: 40px;
  --fn-size-35px: 35px;
  --fn-size-33px: 33px;
  --fn-size-30px: 30px;
  --fn-size-28px: 28px;
  --fn-size-25px: 25px;
  --fn-size-22px: 22px;
  --fn-size-20px: 20px;
  --fn-size-18px: 18px;
  --fn-size-17px: 17px;
  --fn-size-16px: 16px;
  --fn-size-14px: 14px;
  --padding-top: 50px;
  --padding-bottom: 50px;
}

* {
  font-family: 'Open Sans', sans-serif;
}

/* =====Start-overview====== */
.overview-box {
  text-align: center;
  margin: 25px 0 !important;
}

.overview-box .overview-icon {
  font-size: var(--fn-size-35px);
  color: var(--main-color-1);
}

.overview-box h2 {
  font-size: var(--fn-size-25px);
  color: var(--color-1);
  font-weight: 500;
  text-transform: capitalize;
  margin: 15px 0;
}

.overview-box p {
  font-size: var(--fn-size-14px);
  color: var(--color-2);
  font-weight: 500;
  text-transform: capitalize;
  max-width: 300px;
  margin: 0 auto;
  line-height: 1.8;
}

/* =====end-overview====== */
/* =====start-Title-box====== */

.title-box {
  text-align: center;
  padding-bottom: var(--padding-bottom);
  padding-top: var(--padding-top);
}

.title-box h1 span,
.title-box h1 {
  text-transform: capitalize;
  font-size: var(--fn-size-40px);
  font-weight: 600;
  color: var(--color-font-1);

}

.title-box h1 span {
  color: var(--main-color-1);
}

.title-box p {
  color: var(--color-font-2);
  font-size: var(--fn-size-16px);
}

/* =====end-Title-box====== */
/* =====start-slider-speaker====== */
.slider-speaker-box {
  background-color: var(--back-color-3);
  position: relative;
  /* height: 400px; */
  padding-bottom: var(--padding-bottom);
}

.slider-speaker-box .slider-speaker {}

.slider-speaker-box .container {
  display: flex;
  align-items: center;
}

.slider-speaker .box {
  width: 220px;
  height: 220px;
  object-fit: cover;
  margin: 30px 0;
  text-align: center;
}

.slider-speaker .box .box-img {
  width: 100%;

}

.slider-speaker .box .box-img img {
  width: 100%;
}

.slider-speaker .box .info {
  margin: 10px 0;
}

.slider-speaker .box h4 {
  color: var(--color-font-1);
  font-size: var(--fn-size-20px);
  font-weight: 600;
  text-transform: capitalize;
  margin: 10px;
}

.slider-speaker .box h6 {
  color: var(--color-font-2);
  font-size: var(--fn-size-14px);
  font-weight: 600;
  text-transform: capitalize;
}

/* =====end-slider-speaker====== */
/* =====Start-OurProgramBox====== */
.program-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 50px 0;
}

.program-box .box-img {
  width: 160px;
  height: 160px;

}

.program-box .box-img img {
  object-fit: cover;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.program-box .box-body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.program-box .box-body .our-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.program-box .box-body .our-box span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: var(--fn-size-14px);
  color: var(--color-font-2);
  font-weight: 600;
  text-transform: capitalize;
}

.program-box .box-body .our-box span i {}

.program-box .box-body h2 {
  font-size: var(--fn-size-28px);
  color: var(--color-font-2);
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}

.program-box .box-body h6 {
  font-size: var(--fn-size-14px);
  color: var(--color-font-2);
  font-weight: 600;
  text-transform: capitalize;
}

.program-box .box-body p {
  font-size: var(--fn-size-14px);
  color: var(--color-font-2);
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}

@media (max-width:520px) {
  .program-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  .program-box .box-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
}

/* =====end-OurProgramBox====== */
/* =====start-OurSponsorsBox====== */

.sponsor-box {

  width: 280px;
  height: 150px;
  background-color: var(--back-color-3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.sponsor-box h2 {
  font-size: var(--fn-size-25px);
  color: var(--main-color-1);
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

/* =====end-OurSponsorsBox====== */

/* =====start-NavbarBox====== */
.navbar {
  background-color: var(--color-font-1);
  position: fixed !important;
  width: 100% !important;
  z-index: 10001 !important;
}

.navbar .container {}

.navbar .container button {
  color: var(--back-color-3)
}

.navbar .container button span {
  color: var(--back-color-3)
}

.navbar .container .navbar-brand {
  padding: 15px 20px !important;
  font-size: var(--fn-size-30px);
  font-weight: 500;
  color: var(--color-2);
  padding: 0 !important;
  text-transform: capitalize;
}

.navbar .container .navbar-brand span {
  color: var(--main-color-1);
}

.navbar .container .navbar-collapse {
  justify-content: flex-end;

}


.navbar .container .navbar-collapse .navbar-nav {
  /* text-align: right; */
}

.navbar .container .navbar-collapse .nav-link {
  padding: 10px 15px !important;
  font-size: var(--fn-size-18px);
  font-weight: 500;
  color: var(--color-2);
  transition: var(--transition);
  text-transform: capitalize;
}

.navbar .container .navbar-collapse .nav-link.active,
.navbar .container .navbar-collapse .nav-link:hover {

  color: var(--main-color-2);
}

@media (max-width:991px) {
  .navbar .container .navbar-collapse .navbar-nav {
    /* text-align: left; */

  }



}

/* =====end-NavbarBox====== */
/* =====start-Header====== */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("./shard/img/andre-benz-cXU6tNxhub0-unsplash.jpg") fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 63px;
  z-index: 999;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.431);
  z-index: 1;
}

.hero .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 5;
  width: 80%;
}


.hero h1,
.hero h2 {
  color: var(--color-1);
  font-weight: 700;
  text-transform: capitalize;
}

.hero h2 {
  font-size: var(--fn-size-22px);
  margin-bottom: 60px;
}

.hero h1 {
  font-size: var(--fn-size-40px);
  margin-bottom: 40px;

}

.hero .info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.hero .info button {
  all: unset;
  cursor: pointer;
  color: var(--color-1);
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--fn-size-17px);
  padding: 10px 30px;
  border: 2px solid var(--color-1);
  transition: var(--transition);
  box-sizing: border-box;
}

.hero .info button:nth-child(1):hover {
  background-color: var(--main-color-1);
  border-color: transparent;

}

.hero .info button:nth-child(2) {
  background-color: var(--main-color-1);
  border-color: transparent;
}

.hero .info button:nth-child(2):hover {
  background-color: transparent;
  border: 2px solid var(--color-1);

}

@media (max-width:991px) {
  .hero .info button {

    padding: 10px 15px;
    font-size: var(--fn-size-16px);

  }



}

/* =====end-Header====== */
body {
  height: 3000px;
  background-color: transparent;
  z-index: 888;
}